<%-include('partials/header.ejs')%>
  <body>
    <a href="/login">click here to go the login page</a><br>
    <a href="/signup">click here to go the register page</a><br>
    <a href="/auth/google">click here to signup using google</a>
  </body>
<%-include('partials/footer.ejs')%>
