<%- include('partials/header.ejs') %>
<body>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username" id="username">
    <input type="email" name="email" placeholder="email" id="email">
    <input type="password" name="password" placeholder="password" id="password">
    <input type="submit" name="submit" id="submit">
</form>
</body>
<%- include('partials/footer.ejs') %>
